<% if resource.errors.any? %>
  <div class="new-error-message" id="error_explanation">
    <b class="title"><%= pluralize(resource.errors.count, '件のエラーが発生しました。') %></b>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
