<h4>Taskun(タスくん)とは？</h4>
<p>
  タスクを見える化・共有して、やる気を出すコミュニティサイト。
</p>

<p>
  タスクの量が膨大すぎて、なかなかやる気が出ない時があるため、自分がやってきたことを見える形で記録に残し、少しでも成長していると実感するため、このサイトを作りました。 例えば、エンジニアの勉強をする際、本がぶ厚すぎて途方にくれる時、どのくらい日々読むかを周りに宣言し、一日少しでも読み進ることで、読み切ることができると考えました。 また、何を勉強したらいいか分からない時も、仲間のタスクを見ることができるので、勉強している内容を真似ることもできます。
</p>
<p>
  エンジニアとしての勉強以外にも、職場での仕事の日誌や家族間の家事のtodoリストとしても、使用できます。
</p>