<%= image_tag "Taskun.png", alt: "サイトバナー", width: 640, height: 130 %>
<br>
<p></p>

<div class="main-title">
  <h5> Taskun(タスくん)とは？ </h5>
</div>

<p>
  <span class="top-icon"><i class="fa-solid fa-circle-check"></i></span>
  タスクを見える化・共有して、やる気を出すコミュニティサイト。
</p>

<hr>

<p>
  タスクの量が膨大すぎて、なかなかやる気が出ない時があるため、自分がやってきたことを見える形で記録に残し、少しでも成長していると実感するため、このサイトを作りました。 <br>
  例えば、エンジニアの勉強をする際、本がぶ厚すぎて途方にくれる時、どのくらい日々読むかを周りに宣言し、一日少しでも読み進ることで、読み切ることができると考えました。 <br>
  また、何を勉強したらいいか分からない時も、仲間のタスクを見ることができるので、勉強している内容を真似ることもできます。
</p>

<hr>

<p>
  エンジニアとしての勉強以外にも、職場での仕事の日誌や家族間の家事のtodoリストとしても、使用できます。
</p>
