<%= image_tag "Taskun.png", alt: "サイトバナー", width: 640, height: 130 %>
<p></p>
タスクを見える化・共有して、やる気を出すコミュニティサイト。
<p></p>
<div class="signup-btn">
    <%= link_to "新規登録", new_user_registration_path, class: "submit-btn-registrations" %>
</div>
<div class="login-btn">
    <%= link_to "ログイン", new_user_session_path, class: "submit-btn-login" %>
</div>
