@use '~bootstrap/scss/bootstrap';
@import "bootstrap"; 

// #####################################

/* body と html の高さを100%に設定 */
html, body {
  height: 100%; /* ページ全体の高さを100%に */
  margin: 0; /* 余白をリセット */
}

.top-icon {
  color: #E8A638!important;
}

.top-icon:hover {
  color: #a27427!important;
}

// #####################################

/* テキストボックス */
.form-field {
  margin-bottom: 1rem;
  width: 100%;  
  max-width: 400px;  
}

.form-input {
  width: 100%;
  max-width: 300px;  
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block; 
  margin-bottom: 5px;
}

.form-input-comment {
  height: 100px;
  width: 500px; 
  margin-bottom: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block; 
}

// #####################################

/* フラッシュメッセージ */
.flash-message {
  width: 30%; 
  border-radius: 5px;
  padding-top: 10px;
  padding: 5px 24px;
  margin: 5px 0px;
}
 
.flash-message.notice {
  background-color: #f6ffb3;
  color: green;
  border: solid 1px green;
}
 
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

// #####################################

/* 新規投稿失敗エラーメッセージ */
.new-error-message {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
  border-radius: 5px;
  padding-top: 10px;
  padding: 10px;
  margin: 5px 0px;
  
}

.new-error-message ul {
  margin: 0;
  padding: 0;
  color: #930403;
}

.new-error-message li {
  color: #930403;
  list-style-type: none; 
}

// #####################################

/* ナビゲーションリンクの文字色を白に設定 */
.navbar-brand {
  color: white !important; /* 文字列 */
}

.navbar {
  background-color: #45519D;
}

.navbar-nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  color: white !important;
  text-decoration: none !important;
}

.navbar-brand a {
  color: white !important; /* リンクの色 */
  text-decoration: none !important; /* 下線を消す */
}

/* ナビゲーションのリンク */
.navbar-nav .nav-item a {
  color: white !important; /* リンクの文字色を白に設定 */
  text-decoration: none !important; /* 下線を消す */
}

/* リンク間のスペースを追加 */
.navbar-nav .nav-item {
  margin-right: 10px; /* リンクの右側にスペースを追加 */
}

.navbar-nav .nav-item:last-child {
  margin-right: 0; /* 最後のリンクに余分なスペースを追加しない */
}

/* アイコンの色を白に設定 */
.navbar-brand i,
.navbar-nav .nav-item i {
  color: white !important; 
}

/* ホバー時のリンクの色 */
.navbar-brand a:hover,
.navbar-nav .nav-item a:hover {
  color: gray !important; /* ホバー時の文字色を灰色に設定 */
  text-decoration: none !important; /* ホバー時も下線を消す */
}

/* ホバー時のアイコンの色 */
.navbar-brand a:hover i,
.navbar-nav .nav-item a:hover i {
  color: gray !important; /* ホバー時のアイコンの色を灰色に設定 */
}

// #####################################

// ログイン・新規登録・パスワード再設定
/* 全体を中央寄せする */
.text-center {
    display: flex;          /* Flexboxを適用 */
    flex-direction: column;
    justify-content: center; /* 水平方向の中央配置 */
    align-items: center;     /* 垂直方向の中央配置（必要に応じて） */
}

/* フォーム全体のデザイン */
.login-box {
    text-align: left;       /* 中のテキストを左寄せ */
    width: 400px;          /* フォームの幅を適度に調整 */
    padding: 20px;
}

// #####################################

// メインページ
.main-title {
  background-color: #adb8ff;
  width: 100%;
  border-radius: 5px;
}

.main-title i.fa-solid {
  margin-left: 5px;
  margin-right: 5px;
}

.admin-main-title {
  background-color: #68938A;
  color: white;
  width: 100%;
  border-radius: 5px;
}

.admin-main-title i.fa-solid {
  margin-left: 5px;
  margin-right: 5px;
}

.admin-user-name {
  margin-left: 5px;
}

.footer {
  text-align: center;
  color: gray;
  font-size: 12px;
}

// #####################################

// 全てのリンク
a {
  text-decoration: none; 
  color: #6376f7;
}

/* ホバー時の色 */
a:hover {
  text-decoration: none; 
  color: #45519D;
}

/* リストの前の点を消す */
ul {
  list-style-type: none; 
  padding-left: 0;
}

/* 必要に応じてリストアイテムのスタイル */
li {
  padding-left: 0; 
}

// #####################################

// kaminariレイアウト変更
.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination .current {
  font-weight: bold;
  text-decoration: underline;
}

.pagination .page,
.pagination .first-page,
.pagination .last-page {
  text-decoration: none;
}

.pagination .page:hover {
  text-decoration: underline;
}

// #####################################
// ボタン設定

// 共通ボタン設定
.submit-btn {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  border-radius: 5px; 
  padding: 5px 10px;
  transition: background-color 0.3s;
  text-decoration: none; 
  border: 1px solid #ddd;
  color: white;
  border-color: white;
  background-color: #45519D;
}

.submit-btn-group {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px; 
  padding: 5px 10px;
  transition: background-color 0.3s;
  text-decoration: none; 
  border: 1px solid #ddd;
  color: white;
  border-color: white;
  background-color: #45519D;
}

.submit-btn i.fa-solid {
  margin-left: 8px;
  margin-right: 10px;
}

.submit-btn:hover,.submit-btn-group:hover {
  background-color: #6376f7;
  color: white!important; 
}

// トップページ・アカウント新規登録ボタン設定
.auth-buttons {
  display: flex; /* 横並びにする */
  gap: 10px; /* ボタン間の余白 */
  align-items: center;
  justify-content: center;  
}

.submit-btn-registrations, .submit-btn-login {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px; 
  padding: 5px 5px;
  transition: background-color 0.3s;
  text-decoration: none; 
  border: 1px solid #ddd;
  color: white;
  border-color: white;
}

.submit-btn-registrations {
  background-color: #a2cc89;
}

.submit-btn-registrations:hover {
  background-color: #E6EB94;
  color: white!important; 
}

// ログインボタン設定
.submit-btn-login {
  background-color: #f88379;
}

.submit-btn-login:hover {
  background-color: #ffc1cc;
  color: white!important; 
}

// #####################################

// 一覧画面

.index-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.index-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
}

.index-header {
  flex-wrap: wrap; 
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px; 
}

.profile-image-small {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 5px; 
}

.index-info {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 左寄せ */
}

.user-name {
  font-weight: bold;
  font-size: 1rem;
}

.index-date {
  font-size: 0.875rem;
  color: #666;
}

.index-body {
  margin-top: 0.5rem;
}

.index-title {
  font-size: 1.125rem;
  color: #333;
  word-wrap: break-word; /* 長いタスク名を折り返し可能にする */
  margin-top: 0.5rem; /* タスク名を少し下に配置 */
}

.user-show-task-icon {
  color: #45519D !important;
}

// #####################################

// タスク一覧画面

.task-index {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.task-meta {
  margin-left: 0; /* autoを削除して左寄せ */
  text-align: left; /* 念のためテキストも左寄せ */
  font-size: 0.9rem;
  color: #666;
}

.task-checkbox {
  color: #747caf;
}

// #####################################

// タスク・ユーザ詳細画面

.detail-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detail-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  max-width: 100%;
}

// ユーザ詳細画面内・タスクリスト

.detail-title {
  white-space: nowrap;
}

.tasks-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task-item {
  display: flex;
  flex-wrap: wrap;
}

.task-title-and-meta {
  display: flex;
  flex-wrap: wrap; /* タイトルと日付部分が折り返せるように */
  align-items: center;
}

.task-item i {
  margin-right: 8px; /* アイコンとタイトルの間にスペースを追加 */
}

.task-title {
  width: 100%;
  max-width: 30ch; /* 30文字分の幅に制限 */
  margin-right: 16px; /* タイトルと日付の間にスペースを追加 */
  flex-shrink: 1; /* タイトルが幅を広げ過ぎないように */
  white-space: nowrap; /* タイトルを1行に収める */
}

.task-meta-detail {
  white-space: nowrap; /* 日付とコメントが改行しないように */
  font-size: 0.875rem; /* コメントのフォントサイズを少し小さく */
  color: #666; /* 色を薄くして、視覚的に区別する */
  flex-basis: 100%; /* 日付部分を改行させる */
  margin-top: 5px; /* 日付部分とタイトル部分の間に少し隙間を開ける */
  max-width: 100%;
}

.task-title-and-meta span {
  word-wrap: break-word; /* タスク名が長い場合、折り返す */
  flex-basis: 100%; /* タイトルと日付を折り返しながらスペースを広げる */
}

// #####################################

// コメント表示

.comment {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

.comment-container {
  display: flex;
  gap: 10px;
}

.comment-image {
  flex-shrink: 0;
}

.comment-content {
  flex-grow: 1;
  max-width: calc(100% - 50px); /* 適切な幅を調整 */
  word-wrap: break-word; /* コメント内で改行する */
}

.comment-text {
  margin: 0 0 5px 0;
}

// #####################################

// グループ機能
.group-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.edit-link {
  text-decoration: none;
  margin-left: auto;
}

.group-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 100%; /* 画像が親要素の幅を超えないようにする */
}
