@use '~bootstrap/scss/bootstrap';
@import "bootstrap"; 

// #####################################

/* body と html の高さを100%に設定 */
html, body {
  height: 100%; 
  margin: 0; 
  flex-direction: column;
}

.container {
  flex: 1; 
}

footer {
  color: gray;
  font-size: 12px;
  width: 100%;
  text-align: center;
  margin-top: auto; 
}

.top-icon {
  color: #E8A638!important;
  text-decoration: none!important;
}

.top-icon:hover {
  color: #a27427!important;
  text-decoration: none!important;
}

// #####################################

/* テキストボックス */
.form-field {
  margin-bottom: 1rem;
  width: 100%;  
  max-width: 400px;  
}

.form-input {
  width: 100%;
  max-width: 300px;  
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block; 
  margin-bottom: 5px;
}

.form-input-comment {
  height: 100px;
  width: 500px; 
  margin-bottom: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block; 
}

// #####################################

/* フラッシュメッセージ */
.flash-message {
  width: 40%; 
  border-radius: 5px;
  padding: 12px 24px;
  margin: 5px 0px;  
  min-height: 48px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px; 
}
 
.flash-message.notice {
  background-color: #f6ffb3;
  color: green;
  border: solid 1px green;
}
 
.flash-message.warning {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

// #####################################

/* 新規投稿失敗エラーメッセージ */
.new-error-message {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
  border-radius: 5px;
  padding-top: 10px;
  padding: 10px;
  margin: 5px 0px;
}

.new-error-message ul {
  margin: 0;
  padding: 0;
  color: #930403;
}

.new-error-message li {
  color: #930403;
  list-style-type: none; 
}

// #####################################

/* ナビゲーションリンクの文字色を白に設定 */
.navbar-brand {
  color: white !important; 
}

nav.navbar, .collapse, .collapsing, .collapse.show,.container-fluid {
  background-color: #45519D!important; 
}

// ハンバーガーメニューアイコン白
.navbar-toggler {
  border-color: white !important;
}

.navbar-toggler .navbar-toggler-icon {
  filter: invert(1);
}

// ナビゲーションリンクを白に
.nav-item, .navbar-brand a {
  color: white !important; 
  text-decoration: none !important; 
}

/* ナビゲーションのリンク */
.navbar-nav .nav-item a {
  color: white !important; 
  text-decoration: none !important; 
}

/* リンク間のスペースを追加 */
.navbar-nav .nav-item {
  margin-right: 10px; 
}

.navbar-nav .nav-item:last-child {
  margin-right: 0; 
}

/* アイコンの色を白に設定 */
.navbar-brand i,
.navbar-nav .nav-item i {
  color: white !important; 
}

/* ホバー時のリンクの色 */
.nav-item  a:hover, .navbar-brand a:hover,
.navbar-nav .nav-item a:hover {
  color: gray !important; 
  text-decoration: none !important; 
}

/* ホバー時のアイコンの色 */
.nav-item a:hover i, .navbar-brand a:hover i,
.navbar-nav .nav-item a:hover i {
  color: gray !important; 
}

// #####################################

// ログイン・新規登録・パスワード再設定
/* 全体を中央寄せする */
.text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* フォーム全体のデザイン */
.login-box {
  text-align: left; 
  width: 400px; 
  padding: 20px;
}

// トップページ・アバウト
.container about{
  margin-top: 2rem;  
  margin-bottom: 1rem;
}

.border-custom-blue {
  border-top: 4px dashed #e6e8ff;
  width: 600px;
  height: 0;
}

.about-title {
  color: #6376f7;
  margin-top: 1rem;  
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: bold;
}

.about-text {
  margin-top: 1rem;  
}

// #####################################

// メインページ
.main-title {
  background-color: #adb8ff;
  width: 100%;
  border-radius: 5px;
}

.main-title i.fa-solid {
  margin-left: 5px;
  margin-right: 5px;
}

.admin-main-title {
  background-color: #68938A;
  color: white;
  width: 100%;
  border-radius: 5px;
}

.admin-main-title i.fa-solid {
  margin-left: 5px;
  margin-right: 5px;
}

.admin-user-name {
  margin-left: 5px;
}

// #####################################

body a {
  text-decoration: none;
  color: #6376f7;
}

body a:hover {
  text-decoration: none;
  color: #45519D;
}

/* リストの前の点を消す */
ul {
  list-style-type: none; 
  padding-left: 0;
}

li {
  padding-left: 0; 
}

// #####################################

// kaminariレイアウト変更
.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination .current {
  font-weight: bold;
  text-decoration: underline;
}

.pagination .page,
.pagination .first-page,
.pagination .last-page {
  text-decoration: none;
}

.pagination .page:hover {
  text-decoration: underline;
}

// #####################################
// ボタン設定

// 共通ボタン設定
.submit-btn {
  display: block;
  margin-left: auto;
  margin-right: 0;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  border: 1px solid white;
  color: white;
  background-color: #45519D;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.submit-btn-group {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px; 
  padding: 5px 10px;
  transition: background-color 0.3s;
  text-decoration: none; 
  border: 1px solid #ddd;
  color: white;
  border-color: white;
  background-color: #45519D;
}

.submit-btn:hover,.submit-btn-group:hover {
  background-color: #6376f7;
  color: white!important; 
}

// トップページ・アカウント新規登録ボタン設定
.auth-buttons {
  display: flex; 
  gap: 10px; 
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.submit-btn-registrations, .submit-btn-login {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px; 
  padding: 5px 5px;
  transition: background-color 0.3s;
  text-decoration: none; 
  border: 1px solid #ddd;
  color: white;
  border-color: white;
}

.submit-btn-registrations {
  background-color: #a2cc89;
}

.submit-btn-registrations:hover {
  background-color: #E6EB94;
  color: white!important; 
}

// ログインボタン設定
.submit-btn-login {
  background-color: #f88379;
}

.submit-btn-login:hover {
  background-color: #ffc1cc;
  color: white!important; 
}

// 編集・削除ボタン
.edit-delete-button {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btn .btn-danger {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  border-radius: 5px; 
  padding: 5px 10px!important;
  text-decoration: none; 
  border: 1px solid #ddd;
}

// #####################################

// 一覧画面

.index-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.index-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
}

.index-header {
  flex-wrap: wrap; 
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px; 
}

.profile-image-small {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 5px; 
}

.index-info {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.user-name {
  font-weight: bold;
  font-size: 1rem;
}

.index-date {
  font-size: 0.875rem;
  color: #666;
}

.index-body {
  margin-top: 0.5rem;
}

.index-title {
  font-size: 1.125rem;
  color: #333;
  word-wrap: break-word; 
  margin-top: 0.5rem; 
}

.user-show-task-icon {
  color: #45519D !important;
}

// #####################################

// タスク一覧画面

.task-index {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.task-meta {
  margin-left: 0; 
  text-align: left; 
  font-size: 0.9rem;
  color: #666;
}

.task-checkbox {
  color: #747caf;
}

// #####################################

// タスク・ユーザー詳細画面

.detail-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detail-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  max-width: 100%;
}

// ユーザー詳細画面内・タスクリスト

.detail-title {
  white-space: nowrap;
}

.tasks-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task-item {
  display: flex;
  flex-wrap: wrap;
}

.task-title-and-meta {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
}

.task-item i {
  margin-right: 8px; 
}

.task-title {
  width: 100%;
  max-width: 30ch; 
  margin-right: 16px; 
  flex-shrink: 1; 
  white-space: nowrap; 
}

.task-meta-detail {
  white-space: nowrap; 
  font-size: 0.875rem; 
  color: #666; 
  flex-basis: 100%; 
  margin-top: 5px; 
  max-width: 100%;
}

.task-title-and-meta span {
  word-wrap: break-word; 
  flex-basis: 100%; 
}

// #####################################

// ユーザー一覧

.user-index-meta{
  margin-left: 0; 
  text-align: left; 
  font-size: 0.7rem;
  color: #666;
}

.follow-button {
  display: flex;
  justify-content: flex-end;
}

// #####################################

// コメント表示

.comment {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

.comment-container {
  display: flex;
  gap: 10px;
}

.comment-image {
  flex-shrink: 0;
}

.comment-content {
  flex-grow: 1;
  max-width: calc(100% - 50px); /* 適切な幅を調整 */
  word-wrap: break-word; /* コメント内で改行する */
}

.comment-text {
  margin: 0 0 5px 0;
}

// #####################################

// グループ機能
.group-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.edit-link {
  text-decoration: none;
  margin-left: auto;
}

.group-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 100%; /* 画像が親要素の幅を超えないようにする */
}

// ##########################

// 通知プルダウン変更
.dropdown.notification {
  margin-left: 1rem !important;
}

.dropdown-item, .notification_message {
  color: gray !important; 
}
