/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* フラッシュメッセージ */
.flash-message {
  width: 50%; 
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}
 
.flash-message.notice {
  background-color: #f6ffb3;
  color: green;
  border: solid 1px green;
}
 
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

/* 新規投稿失敗エラーメッセージ */
.new-error-message {
  width: 50%; 
  background-color: #ffd4d1; /* 背景色 */
  color: #930403; /* 文字色 */
  border: solid 1px #930403;
  padding: 16px; /* 余白 */
  border-radius: 5px;
}

.new-error-message ul {
  margin: 0;
  padding: 0;
  color: #930403;
}

.new-error-message li {
  color: #930403;
  margin-bottom: 8px; /* 各エラー間の余白 */
}
