<p></p>

<h4>検索結果</h4>
<p></p>
<% if params[:user_query].present? %>
  <b>ユーザ検索結果</b>
  <% if @user_results.present? %>
    <ul>
      <% @user_results.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p>該当するユーザは見つかりませんでした。</p>
  <% end %>
<% end %>
<p></p>

<% if params[:task_query].present? %>
  <b>タスク検索結果</b>
  <% if @task_results.present? %>
    <ul>
      <% @task_results.each do |task| %>
        <li><%= task.title %></li>
      <% end %>
    </ul>
  <% else %>
    <p>該当するタスクは見つかりませんでした。</p>
  <% end %>
<% end %>
