<div class="main-title">
  <h4><i class="fa-solid fa-magnifying-glass"></i>検索</h4>
</div>
<p></p>

<% if @results.present? %>
  <ul>
    <% @results.each do |result| %>
      <li>
        <%= link_to result.title, task_path(result.id) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>該当する結果が見つかりませんでした。</p>
<% end %>
